img {
  width: 100px;
}

body {
  background-color: blue;
}

.my-img{
    animation: rotateImg 2s linear infinite;
  }
  @keyframes rotateImg{
    from {
     transform: rotate(0deg);
    }
   to {
    transform: rotate(359deg);
   }
  }
